*{
    margin: 0;
    padding: 0;
}
body{
    background: url(../img/bg.jpg) no-repeat right top fixed;
    background-size: 100%;
}
section{
    
    text-align: center;
    margin: auto;
    vertical-align: middle;
    margin-top: 10px;
    width: 80%;
    background: #fff;
}
input.inp{
    width: 80%;
    height: 30px;
    margin: 10px;
    
}
.to-do{
    text-align: justify;
    margin: auto;
    width: 90%;
    background-color: aqua;
}
.to-do li{
    list-style: none;
    margin: auto;
    
}

@media(max-width:680px){
    body{
        background: url(../img/bg.jpg) no-repeat right top padding-box;
       background-size: 680px 100vh;
       
    }
}
@media(max-width:955px){
    body{

       background-size: 100% 100vh;
       
    }
}